
@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>edit the list: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.Name)
     @Html.EditorFor(model => model.Name)

     @Html.LabelFor(model => model.Stylist)<br>
    @Html.DropDownList("StylistId")<br>

   
     <input type ="submit" value ="Save" />

}

<p> @Html.ActionLink("Back to List", "Index")</p>